[data-md-color-primary="custom"] {
  --md-primary-fg-color: #6F00FF;
  --md-primary-fg-color--light: #9b47ff;
  --md-primary-fg-color--dark: #5200bf;
  --md-primary-bg-color: #ffffff;
  --md-primary-bg-color--light: #ffffffb3;
}

[data-md-color-accent="custom"] {
  --md-accent-fg-color: #FE59C2;
  --md-accent-fg-color--transparent: #FE59C21a;
  --md-accent-bg-color: #ffffff;
  --md-accent-bg-color--light: #ffffffb3;
}

/* Gradient header */
.md-header {
  background: linear-gradient(135deg, #6F00FF, #FE59C2) !important;
}

.md-tabs {
  background: linear-gradient(135deg, #5200bf, #d43fa0) !important;
}
